body {
    height: 400px;
    background: url(./imagen/imag.jpg);
    display: flexbox;
    
}

.styled-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width: 800px;
    box-shadow: 50 0 20px rgba(14, 7, 7, 0.15);
    font-weight: bold;
    background: rgb(239, 250, 250);
}

.styled-table thead tr {
    background-color: rgb(10, 63, 63);
    color: rgb(239, 250, 250);
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12 px 15 px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #0c0c0c;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #d3d373;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #121312;
}

.btn {
    border: none ;
    color: white;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none ;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-edit {
    background-color: blueviolet;
}

.btn-delete {
    background-color: firebrick;
}

.btn-view {
    background-color: chartreuse;
    color:black;
}

.btn-contact {
    background-color: crimson;
    margin-bottom: 10px;
}